
body{
  font-family: 'Times New Roman', Times, serif;

}

.header{

  text-align: center;
  padding-top: 10px;
}

.description{
  text-align: center;

  font-size: 11px;
}

.headerContainer{
  width: 100vw;
  border-bottom: 1px solid lightGray;
  padding-bottom: 10px;
  box-shadow: 0 0 10px rgba(0,0,0, .1);
  background-color: #CDAC2F;
  font-size: 20px;
  color: white;
}

.flashcard{
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  transform: translate(0%, 50%);
  font-size: 40px;
  border: 1px solid lightGray;
  border-radius: 5px;
  width: 80vw;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding-bottom: 30px;
  background: rgba(255, 255,255, 0.85);
}


.front button{
  background-color: rgb(10, 96, 48);
  border: 0;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.front button:hover{
  
  background-color: #CDAC2F;
}

.front p, .back p{
  color: rgb(10, 96, 48);
}

.veryHard{
  background-color: red;
}

.hard{
  background-color: orange;
}

.good{
  background-color: green;
}

.easy{
  background-color: blue;
}


.veryHard, .hard, .good, .easy{
  border: 0;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.app{
 position: absolute; 
  z-index: 10;
}
.footerImg{
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}

.footerImg2{
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 50px;
  width: 100%;
  
}
